## Cleaning data

In [213]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup

In [214]:
df = pd.read_csv("../data/Reklama_5.csv")
df.head()

,price,other_info,location,text
0,"[<h5 class=""mb-0 defaultBlue"" style=""font-weig...","[<div class=""col-8"">\n<p class=""mt-1"">\n</p>\n...",[<p>Свети Николе / Свети Николе</p>],"[<p class=""mt-3"" style=""font-size:14px;"">\r\n ..."
1,"[<h5 class=""mb-0 defaultBlue"" style=""font-weig...","[<div class=""col-8"">\n<p class=""mt-1"">\n</p>\n...",[<p>Илинден / Скопје</p>],"[<p class=""mt-3"" style=""font-size:14px;"">\r\n ..."
2,"[<h5 class=""mb-0 defaultBlue"" style=""font-weig...","[<div class=""col-8"">\n<p class=""mt-1"">\n</p>\n...","[<p class=""text-secondary""><small>Продавачот п...","[<p class=""mt-3"" style=""font-size:14px;"">\r\n ..."
3,"[<h5 class=""mb-0 defaultBlue"" style=""font-weig...","[<div class=""col-8"">\n<p class=""mt-1"">\n</p>\n...",[<p>Прилеп / Прилеп</p>],"[<p class=""mt-3"" style=""font-size:14px;"">\r\n ..."
4,"[<h5 class=""mb-0 defaultBlue"" style=""font-weig...","[<div class=""col-8"">\n<p class=""mt-1"">\n</p>\n...",[<p>Гостивар / Гостивар</p>],"[<p class=""mt-3"" style=""font-size:14px;"">\r\n ..."

### Fix price

In [215]:
def fix_price(j):
    soup = BeautifulSoup(j.price)
    try:
        return int((soup.select('h5')[0].text.strip().replace(" ","").replace("€","").replace("\r\n","").replace(".","").replace("МКД","")))
    except IndexError:
        print("index error")
        return np.nan

In [216]:
df.price = df.apply(fix_price,axis=1)

index error
index error
index error
index error
index error
index error
index error
index error
index error
index error
index error
index error
index error
index error
index error
index error
index error
index error
index error
index error
index error
index error
index error
index error
index error
index error
index error
index error
index error
index error
index error
index error
index error
index error
index error
index error
index error
index error
index error
index error
index error
index error
index error

## I dont think there is a car with price =  1

In [217]:
df.price = df.price.replace(1,np.nan)

In [218]:
df

,price,other_info,location,text
0,4200.0,"[<div class=""col-8"">\n<p class=""mt-1"">\n</p>\n...",[<p>Свети Николе / Свети Николе</p>],"[<p class=""mt-3"" style=""font-size:14px;"">\r\n ..."
1,NaN,"[<div class=""col-8"">\n<p class=""mt-1"">\n</p>\n...",[<p>Илинден / Скопје</p>],"[<p class=""mt-3"" style=""font-size:14px;"">\r\n ..."
2,16999.0,"[<div class=""col-8"">\n<p class=""mt-1"">\n</p>\n...","[<p class=""text-secondary""><small>Продавачот п...","[<p class=""mt-3"" style=""font-size:14px;"">\r\n ..."
3,NaN,"[<div class=""col-8"">\n<p class=""mt-1"">\n</p>\n...",[<p>Прилеп / Прилеп</p>],"[<p class=""mt-3"" style=""font-size:14px;"">\r\n ..."
4,8900.0,"[<div class=""col-8"">\n<p class=""mt-1"">\n</p>\n...",[<p>Гостивар / Гостивар</p>],"[<p class=""mt-3"" style=""font-size:14px;"">\r\n ..."
...,...,...,...,...
382,1600.0,"[<div class=""col-8"">\n<p class=""mt-1"">\n</p>\n...",[<p>Долнени / Прилеп</p>],"[<p class=""mt-3"" style=""font-size:14px;"">\r\n ..."
383,4150.0,"[<div class=""col-8"">\n<p class=""mt-1"">\n</p>\n...",[<p>Охрид / Охрид</p>],"[<p class=""mt-3"" style=""font-size:14px;"">\r\n ..."
384,NaN,"[<div class=""col-8"">\n<p class=""mt-1"">\n</p>\n...",[<p>Автокоманда / Скопје</p>],"[<p class=""mt-3"" style=""font-size:14px;"">\r\n ..."
385,2450.0,"[<div class=""col-8"">\n<p class=""mt-1"">\n</p>\n...",[<p>Тетово / Тетово</p>],"[<p class=""mt-3"" style=""font-size:14px;"">\r\n ..."
386,4800.0,"[<div class=""col-8"">\n<p class=""mt-1"">\n</p>\n...",[<p>Охрид / Охрид</p>],"[<p class=""mt-3"" style=""font-size:14px;"">\r\n ..."

## Fix other info

In [219]:
df.other_info.apply(lambda x: len(BeautifulSoup(x).select("div.col-7"))).value_counts()

12    381
11      6
Name: other_info, dtype: int64

### It seems that 6 cars do not contain all the info like the other

In [220]:
#### get the make of the car
df['make'] = df.other_info.apply(lambda x: BeautifulSoup(x).select('div.col-7')[0].text.strip())
df

,price,other_info,location,text,make
0,4200.0,"[<div class=""col-8"">\n<p class=""mt-1"">\n</p>\n...",[<p>Свети Николе / Свети Николе</p>],"[<p class=""mt-3"" style=""font-size:14px;"">\r\n ...",VW Volkswagen
1,NaN,"[<div class=""col-8"">\n<p class=""mt-1"">\n</p>\n...",[<p>Илинден / Скопје</p>],"[<p class=""mt-3"" style=""font-size:14px;"">\r\n ...",Seat
2,16999.0,"[<div class=""col-8"">\n<p class=""mt-1"">\n</p>\n...","[<p class=""text-secondary""><small>Продавачот п...","[<p class=""mt-3"" style=""font-size:14px;"">\r\n ...",Audi
3,NaN,"[<div class=""col-8"">\n<p class=""mt-1"">\n</p>\n...",[<p>Прилеп / Прилеп</p>],"[<p class=""mt-3"" style=""font-size:14px;"">\r\n ...",Opel
4,8900.0,"[<div class=""col-8"">\n<p class=""mt-1"">\n</p>\n...",[<p>Гостивар / Гостивар</p>],"[<p class=""mt-3"" style=""font-size:14px;"">\r\n ...",Ford
...,...,...,...,...,...
382,1600.0,"[<div class=""col-8"">\n<p class=""mt-1"">\n</p>\n...",[<p>Долнени / Прилеп</p>],"[<p class=""mt-3"" style=""font-size:14px;"">\r\n ...",VW Volkswagen
383,4150.0,"[<div class=""col-8"">\n<p class=""mt-1"">\n</p>\n...",[<p>Охрид / Охрид</p>],"[<p class=""mt-3"" style=""font-size:14px;"">\r\n ...",Opel
384,NaN,"[<div class=""col-8"">\n<p class=""mt-1"">\n</p>\n...",[<p>Автокоманда / Скопје</p>],"[<p class=""mt-3"" style=""font-size:14px;"">\r\n ...",BMW
385,2450.0,"[<div class=""col-8"">\n<p class=""mt-1"">\n</p>\n...",[<p>Тетово / Тетово</p>],"[<p class=""mt-3"" style=""font-size:14px;"">\r\n ...",Ford
386,4800.0,"[<div class=""col-8"">\n<p class=""mt-1"">\n</p>\n...",[<p>Охрид / Охрид</p>],"[<p class=""mt-3"" style=""font-size:14px;"">\r\n ...",Mercedes-Benz

In [221]:
### get model 
BeautifulSoup(df.other_info[0])

<html><body><p>[</p><div class="col-8">
<p class="mt-1">
</p>
<div class="row mt-3">
<div class="col-5">
<p class="mb-1">Марка:</p>
</div>
<div class="col-7" style="font-weight:600">
<p class="mb-1">VW Volkswagen</p>
</div>
<div class="col-5">
<p class="mb-1">Модел:</p>
</div>
<div class="col-7" style="font-weight:600">
<p class="mb-1">Golf Plus</p>
</div>
<div class="col-5">
<p class="mb-1">Година:</p>
</div>
<div class="col-7" style="font-weight:600">
<p class="mb-1">2006</p>
</div>
<div class="col-5">
<p class="mb-1">Гориво:</p>
</div>
<div class="col-7" style="font-weight:600">
<p class="mb-1">Дизел</p>
</div>
<div class="col-5">
<p class="mb-1">Километри:</p>
</div>
<div class="col-7" style="font-weight:600">
<p class="mb-1">190000</p>
</div>
<div class="col-5">
<p class="mb-1">Менувач:</p>
</div>
<div class="col-7" style="font-weight:600">
<p class="mb-1">Рачен</p>
</div>
<div class="col-5">
<p class="mb-1">Каросерија:</p>
</div>
<div class="col-7" style="font-weight:600">
<p class="mb-1">Хеџбек</p>
</div>
<div class="col-5">
<p class="mb-1">Боја:</p>
</div>
<div class="col-7" style="font-weight:600">
<p class="mb-1">Сива</p>
</div>
<div class="col-5">
<p class="mb-1">Регистрација:</p>
</div>
<div class="col-7" style="font-weight:600">
<p class="mb-1">Македонска</p>
</div>
<div class="col-5">
<p class="mb-1">Регистрирана до:</p>
</div>
<div class="col-7" style="font-weight:600">
<p class="mb-1">11.2020</p>
</div>
<div class="col-5">
<p class="mb-1">Сила на моторот:</p>
</div>
<div class="col-7" style="font-weight:600">
<p class="mb-1">77 kw / 105 ks</p>
</div>
<div class="col-5">
<p class="mb-1">Kласа на емисија:</p>
</div>
<div class="col-7" style="font-weight:600">
<p class="mb-1">Еуро 4</p>
</div>
</div>
<p class="mt-3" style="font-size:14px;">
                                VW GOLF 5 PLUS 1.9TDI 105KS 2006G<br/>PLATENI DAVACKI DO MK TABLI PREVOD NA DOKUMENTI SAMO DA SE REG <br/>2XKLUCA <br/>CLIMATRONIC ISPAVEN <br/>TOP SOSTOJBA<br/>
</p>
<div class="col-lg-12 clear-padding mt-3"><div id="youtubeLink" style="max-width:640px"></div></div>
<p class="mt-3" id="categoryDiv" style="font-size:14px;">
                                Категорија: <a class="text-secondary mr-5" href="/Search/Index?ad=3790158&amp;cat=1&amp;city=329&amp;pageView=1"><small>Моторни Возила</small></a> <span style="font-size:10px;">/</span> <a class="text-secondary mr-5" href="/Search/Index?ad=3790158&amp;cat=24&amp;city=329&amp;pageView=1"><small>Автомобили</small></a>
</p>
</div>]</body></html>

In [222]:
### get model
df['model'] = df.other_info.apply(lambda x: BeautifulSoup(x).select('div.col-7')[1].text.strip())

In [223]:
#### get year of production
df['year'] =df.other_info.apply(lambda x: BeautifulSoup(x).select('div.col-7')[2].text.strip())

In [224]:
df['fuel'] = df.other_info.apply(lambda x: BeautifulSoup(x).select('div.col-7')[3].text.strip())

In [225]:
df['mileage_km'] = df.other_info.apply(lambda x: BeautifulSoup(x).select('div.col-7')[4].text.strip())

In [226]:
df['trans'] = df.other_info.apply(lambda x: BeautifulSoup(x).select('div.col-7')[5].text.strip())

In [227]:
df['body_type'] = df.other_info.apply(lambda x: BeautifulSoup(x).select('div.col-7')[6].text.strip())

In [228]:
df['color'] = df.other_info.apply(lambda x: BeautifulSoup(x).select('div.col-7')[7].text.strip())

In [229]:
df['reg'] = df.other_info.apply(lambda x: BeautifulSoup(x).select('div.col-7')[8].text.strip())

In [230]:
df['hp'] = df.other_info.apply(lambda x: BeautifulSoup(x).select('div.col-7')[10].text.strip())

### THe problem with the 6 cars is that the class of emission is not included

In [231]:
def get_class_emission(j):
    temp = BeautifulSoup(j.other_info)
    try:
        return (temp.select('div.col-7')[11].text.strip().replace("Еуро",""))
    except:
        return 0

In [232]:
df['euro'] = df.apply(get_class_emission,axis=1)

In [233]:
df.drop('other_info',axis=1,inplace=True)

### Get just the number of words in the text

In [234]:
df['len_text'] = df.text.apply(lambda x: len(BeautifulSoup(x).text.split()))

In [235]:
df.drop("text",axis=1,inplace=True)

### Get location

In [236]:
df.location.apply(lambda x: BeautifulSoup(x).text.split("/")[1])

IndexError: list index out of range

In [ ]:
def get_location(j):
    temp = BeautifulSoup(j.location)
    try:
        return temp.text.split("/")[1].replace("]","").strip()
    except IndexError:
        return temp.text.split('/')[0].replace("Продавачот прифаќа предлози за цена","").replace(",","").replace('[',"").replace("]","").strip()

In [ ]:
df.location = df.apply(get_location,axis=1)

### The last thing to fix is the hp, it has both kw and hp

In [ ]:
def fix_hp(j):
    try:
        return int(j.hp.split("/")[1].replace("ks",""))
    except:
        return np.nan

In [ ]:
df.hp = df.apply(fix_hp,axis=1)

### so 4 of them have the class of emission in the hp section

In [ ]:
df